* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    height: 100vh;
    background: linear-gradient(135deg, #ff0000, #000000);
  }
  .h2{
    position: absolute;
    rotate: 90deg;
    font-size: 100px;
    top: 310px;
    color: white;
    right: -40px;
  }
  .h3{
    position: absolute;
    rotate: -90deg;
    font-size: 100px;
    top: 310px;
    color: rgb(0, 0, 0);
    left: -55px;
  }
  .wrapper {
    width: 90%;
    max-width: 34.37em;
    max-height: 90vh;
    background-color: #000000;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 1em;
    box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
  }
  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #wheel {
    max-height: inherit;
    width: inherit;
    top: 0;
    padding: 0;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  .claim{
    color: #ff0000;
    font-weight: bold;
    font-size: 25px;
    height: 50px;
    width: 200px;
    position: relative;
    top: 25px;
    border-radius: 5px;
  }
  .claim:hover{
    background-color: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
    border-radius: 5px;

    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  }

  #spin-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 26%;
    width: 26%;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background: radial-gradient(#ff0000 20%, #000000 80%);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  img {
    position: absolute;
    width: 4em;
    top: 45%;
    right: -8%;
  }
  #final-value {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1.5em;
    color: #ffffff;
    font-weight: 500;
  }
  @media only screen and (max-width: 768px) {
    .wrapper {
      font-size: 12px;
    }
    img {
      right: -5%;
    }
    }


  